NODE_ENV=
LOG_LEVEL=
PORT=
APP_HOST_NAME=

# Shopify
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SCOPES=

# Database:
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_MIN_POOL=
DB_MAX_POOL=

# AWS
REGION=
SECRET_NAME=
