# Application config
NODE_ENV=
LOG_LEVEL=
PORT=
APP_HOST_NAME=
NGROK_AUTH_TOKEN=

# Shopify
SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=

# Database:
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_MIN_POOL=
DB_MAX_POOL=
